// font imports
@font-face {
    font-family: 'Wavehaus';
    src: url("../../assets/fonts/graham-paterson-wavehaus-typeface/Wavehaus-95SemiBold.otf") format('opentype');
}
@font-face {
    font-family: 'Wavehaus';
    src: url("../../assets/fonts/graham-paterson-wavehaus-typeface/Wavehaus-66Book.otf") format('opentype');
}
@import url(https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,400;0,500;1,400;1,500&display=swap);
// fonts
$header-font: 'Wavehaus', sans-serif;
$body-font: 'Be Vietnam', sans-serif;

// colors
$primary-light: #001C16;
$primary-dark: #FFFFFF;
$accent-1: #00E8F1;
$accent-2: #FE2047;
$accent-3: #FEC60F;
$accent-4: #FF007B;

// body colors
body {
    background: $primary-light;
    color: $primary-dark;
}

// type scale
h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    text-transform: uppercase;
}

h1 {
    font-size: 60px;
    line-height: 72px;
}

h2 {
    font-size: 34px;
    line-height: 44px;
}

p, a {
    font-family: $body-font;
}

a {
    &:hover {
        color: inherit;
    }
}

:export {
    primaryLight: $primary-light;
    primaryDark: $primary-dark;

    accent1: $accent-1;
    accent2: $accent-2;
    accent3: $accent-3;
  }
  