img {
    border-radius: 0.5rem;
}


.header-gradient {
    background: -webkit-linear-gradient(135deg, $accent-1, $accent-3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Styling for Schedule Section */
.schedule {
    .day-schedule-content {
        position: relative;
        border: 0.25rem solid transparent;
        border-radius: 16px;
        background: $primary-light;
        background-clip: padding-box;
        padding: 1rem;

        &::after {
            position: absolute;
            top: -0.25rem; bottom: -0.25rem;
            left: -0.25rem; right: -0.25rem;
            background: linear-gradient(135deg, $accent-1, $accent-4);
            content: '';
            z-index: -1;
            border-radius: 16px;
        }

        p {
            margin-bottom: 0 !important;
        }
    }

    .day-img {
        img{
            width: inherit;
        }
}
}

/* Styling for Speakers Section */
.speaker-img {
    img {
        width: 100%;
    }
}

.home {
    &-section {
        padding-bottom: 1rem;
        width: inherit;

        .words {
            text-align: center;
            font-size: 1.2rem;
        }
    }

    &-buttons {
        padding-top: 10vh;
    }

    &-title {
        h2 {
            font-size: 3.5rem;
            line-height: 4rem;
            font-weight: lighter;
        }
    }
    &-img {
        img{
            width: inherit;
        }
    }

    svg {
        margin: auto;
    }
}

/* Home Page Animation */
.animation{
    overflow: hidden;
    svg {
        transform: translateY(-20%);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;

        .st9{fill:#133B51;}
        .st25{font-family:'Wavehaus-95SemiBold';}
        .st26{font-size:60px;}
    }
    .path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash 5s linear alternate infinite;
      }
      
      @keyframes dash {
        from {
          stroke-dashoffset: 1000;
        }
        to {
          stroke-dashoffset: 0;
        }
      }
}

@include media-md {
    .animation {
        svg {
            transform: translateY(-10vh);
        }
    }
}
@include media-lg {
    .animation {
        svg {
            transform: translateY(0vh);
        }
    }
}


@include media-md {
    .home-initial {
        padding: 55vh 10% 0 15%;
        .home-title {
            h1.title {
                font-size: 52px;
                line-height: 64px;
            }
        }
    }
    .home-buttons {
        padding: 3rem 0;
        padding-top: 0;
    }
}

@include media-lg {
    .home-initial {
        .home-title {
            h1.title {
                font-size: 48px;
                line-height: 56px;
            }
        }
    }
}