.schedule {
    .day-schedule {
        .row {
            margin-right: 15px;
            margin-left: 15px;

            h1 {
                padding-left: 0px;
            }
        }
        .sidebar {
            z-index: 100;
            width: 100%;
            background-color: $primary-light;
            @include media-lg {
                width: auto;
                top: 40px;
            }
            li {
                list-style-type: none;
                margin-bottom: 1.5rem;
                a {
                    text-transform: uppercase;
                    border-radius: 1rem;
                    border: solid 3px $gradient-c-1;
                    padding: 0.25rem 1.5rem;
                    color: $gradient-c-1;
                }
                &:hover {
                    a {
                        border: solid 3px rgba($gradient-c-1, 0.5);
                        color: rgba($gradient-c-1, 0.5);
                    }
                }
            }
        }
    }

        /*
        position: absolute;
        border: 0.025rem solid transparent;
        border-radius: 16px;
        background: $primary-light;
        background-clip: padding-box;
        padding: 0.25rem;

        &::after {
            position: absolute;
            top: -0.15rem; bottom: -0.15rem;
            left: -0.15rem; right: -0.15rem;
            background: linear-gradient(135deg, $gradient-c-1, $gradient-c-2, $gradient-c-3, $gradient-c-4, $gradient-c-5);
            content: '';
            z-index: -1;
            border-radius: 16px;
        }
    }
        */
}