.speakers {
    /* Speaker Images */
    img {
        height: 250px;
        object-fit: cover;
    }
    @include media-md {
        img {
            height: 300px;
            object-fit: cover;
        }
    }
    @include media-lg {
        img {
            height: 450px;
            object-fit: cover;
        }
    }

    .speaker {

        &:hover {
            transform: scale(1.1);
        }

        &-img {
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);

            &:hover {
                -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                filter: grayscale(0%);
            }
        }

        &-title {
            position: absolute;
            bottom: 10%;
            left: 10%;
            h5 {
                margin: 0 !important;
                font-weight: 500;
                font-family: $body-font;

                background: -webkit-linear-gradient(135deg, $gradient-w-5, $gradient-w-3, $gradient-c-5);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            p {
                color: $gradient-c-5;
            }
        }
    }
}

/* pop-up modal */
.modal {
    position: relative;
    background-color: $primary-light;
    border-radius: 1rem;
}
@at-root.modal {
  font-size: 12px;
  display: block;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 24px;
  color: $primary-dark;
  //background: #ffffff;
  //border-radius: 18px;
  //border: 1px solid #cfcece;
}
.popup-content {
    margin: auto;
    background: $primary-light;
    padding: 1rem;
    border: 1px solid #d7d7d7;
    border-radius: 1rem;
}